name: PR
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Define version to be built and tested'
        required: true

jobs:
  build-and-publish:
    if: (github.repository == 'cilium/cilium-olm' && github.event_name != 'pull_request')
    env:
      PREFLIGHT_VERSION: 1.2.1
      PFLT_DOCKERCONFIG: ~/.docker/config.json
    name: Build Images and Validate Images
    runs-on: ubuntu-20.04
    needs: lint
    steps:
      - uses: actions/checkout@v1
      - name: Set up QEMU
        uses: docker/setup-qemu-action@8b122486cedac8393e77aa9734c3528886e4a1a8
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@dc7b9719a96d48369863986a06765841d7ea23f6
      - name: Login to Quay.io
        uses: docker/login-action@49ed152c8eca782a232dede0303416e8f356c37b
        with:
          registry: scan.connect.redhat.com
          username: unused
          password: ${{ secrets.RHCP_OLM_REGISTRY_PASSWORD }}
      - name: Push to Quay.io
        uses: docker/build-push-action@e551b19e49efd4e98792db7592c17c09b89db8d8
        with:
          context: ./operator/cilium.v${{ github.event.inputs.version }}/
          push: true
          tag: ospid-104ec1da-384c-4d7c-bd27-9dbfd8377f5b/cilium-olm:v${{ github.event.inputs.version }}
      - name: Install Preflight
        run: |
          curl -sSL https://github.com/redhat-openshift-ecosystem/openshift-preflight/releases/download/${{ env.PREFLIGHT_VERSION }}/preflight-linux-amd64
          sha256sum --check .github_workflow_assets/preflight-linux-amd64.sha256sum
          sudo mv preflight-linux-amd64 /usr/local/bin/preflight
      - name: Run Preflight
        run: |
          preflight check container \
          --pyxis-api-token=${{ secrets.RHCP_PREFLIGHT_API_KEY }} \
          --certification-project-id=5fbe31ec8b7d4976604cbde0 \
          quay.io/cilium/cilium-olm:${{ github.event.inputs.version }}-${{ github.sha }}
